<nav>
  <mat-toolbar class="mat-primary">
    <a mat-button href="http://angular.io">
      <img class="nav-logo" src="/images/angular-logo-with-text.svg">
    </a>
    <div style="padding: 0.5em">+</div>
    <a mat-button href="https://bazel.build">
      <img class="nav-logo" src="/images/bazel-navbar.svg">
    </a>
    <a mat-button routerLink="/" class="hide-small">Home</a>
    <a mat-button routerLink="/todos" class="hide-small">Todos</a>
    <span class="flex-spacer"></span>
    <a href="https://github.com/angular/angular-bazel-example">
      <img class="nav-logo" src="/images/github-circle-white-transparent.svg">
    </a>
  </mat-toolbar>

	<mat-toolbar class="mat-primary show-small mobile-nav">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/todos">Todos</a>
	</mat-toolbar>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
